body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: white;
    color: #333;
}
h1{color:#E1C16E;}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #E1C16E;
    border: 1px solid #CD7F32;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.card h2 {
    color: #CD7F32;
    margin-top: 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.card ul li strong {
    color: #CD7F32;
}
